.root {
    -fx-border-width: 10;
    -fx-border-color: black;
}

/* Toolbar */
.toolbar {
    -fx-border-width: 0 0 5 0;
    -fx-border-color: black;
}

.button-circle {
    -fx-border-width: 4;
    -fx-border-color: black;
    -fx-min-width: 4;
    -fx-min-height: 4;
    -fx-max-width: 4;
    -fx-max-height: 4;
    -fx-border-radius: 4;
}

.button-rect {
    -fx-border-width: 3px;
    -fx-border-color: red;
}

/* Drawing Area */
.drawing-area {
    -fx-border-width: 3px;
    -fx-border-color: red;
}

.selected {
    -fx-border-width: 10px!important;
    -fx-border-color: blue!important;
}