.root {
    -fx-font-size: 2em;
    -fx-background-color: white;
}

/* Toolbar */
.toolbar {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: black;
    -fx-min-height: 25px;
    -fx-padding: 5px;
}

.toolbar > .circle {
    -fx-background-color: black;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.toolbar > .rect {
    -fx-background-color: black;
    -fx-min-width: 100px;
    -fx-min-height: 20px;
    -fx-max-width: 100px;
    -fx-max-height: 20px;
    -fx-cursor: hand;
}

/* Drawing Area */
.drawing-area {
}

.drawing-area > *.selected {
    -fx-fill: red;
}

.drawing-area > *.fx-circle {
    -fx-cursor: hand;
}

.drawing-area > *.fx-rect {
    -fx-cursor: hand;
}
